{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

                    <!-- Page Heading -->
                    <!-- DataTales Example -->


                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold text-primary">Insira os dados nos campos abaixo</h4>
                        </div>


                            <div class="table-responsive">
                                {% csrf_token %}
                                        <form method="GET" enctype="multipart/form-data">
                                            {% csrf_token %}

                                                <div class="form-group row">

                                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                                         {{ busca.form.nome|as_crispy_field }}
                                                    </div>
                                                    <div class="col-sm-6">
                                                        {{ busca.form.sobrenome|as_crispy_field }}
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary" type="submit">Procurar por Assento</button>

                                        </form>
                                <table class="table table-bordered" width="100%" cellspacing="0">

                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Sobrenome</th>
                                            <th>Província</th>
                                            <th>Diocese</th>
                                            <th>Paróquia</th>
                                            <th>Data</th>
                                            <th>PDF</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Sobrenome</th>
                                            <th>Província</th>
                                            <th>Diocese</th>
                                            <th>Paróquia</th>
                                            <th>Data</th>
                                            <th>PDF</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for registo in busca.qs %}
                                        <tr>
                                            <td><a href="{% url 'url_update_baptismo' registo.pk %}">{{registo.nome}}</a></td>
                                            <td><a href="{% url 'url_update_baptismo' registo.pk %}">{{registo.sobrenome}}</a></td>
                                            <td><a href="{% url 'url_update_baptismo' registo.pk %}">{{ registo.livro}}</a></td>
                                            <td><a href="{% url 'url_update_baptismo' registo.pk %}"> {{ registo.livro.diocese}}</a></td>
                                            <td><a href="{% url 'url_update_baptismo' registo.pk %}">{{ registo.paroquia}}</a></td>
                                            <td><a href="{% url 'url_update_baptismo' registo.pk %}">{{ registo.data|date:'d-m-y'}}</a></td>
                                            <td><a href="{% url 'baptismo_pdf' registo.pk %}">Baixar</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>



{% endblock %}