{% extends "account/base.html" %}
{% load crispy_forms_tags %}


{% block content %}

<form method="post" enctype="multipart/form-data">
{% csrf_token %}
    <div class="container">

            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    {{formulario.nome|as_crispy_field }}
                </div>
                <div class="col-sm-6">
                    {{formulario.sobrenome|as_crispy_field }}
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                    {{formulario.sexo|as_crispy_field }}
                </div>
                <div class="col-sm-6">
                    {{formulario.paroquia|as_crispy_field }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    {{formulario.data|as_crispy_field }}
                </div>
                <div class="col-sm-6">
                    {{formulario.numero|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    {{formulario.livro|as_crispy_field }}
                </div>
                <div class="col-sm-6">
                    {{formulario.folha|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    {{formulario.diocese|as_crispy_field }}
                </div>
                <div class="col-sm-6">
                    {{formulario.distrito|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    {{formulario.naturalidade|as_crispy_field }}
                </div>
                <div class="col-sm-6">
                    {{formulario.nascimento|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    {{formulario.raca|as_crispy_field }}
                </div>
                <div class="col-sm-6">
                    {{formulario.concelho|as_crispy_field }}
            </div>
            <div class="form-group row">
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                    {{formulario.hora|as_crispy_field }}
                </div>
                <div class="col-sm-6">
                    {{formulario.municipio|as_crispy_field }}
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                    {{formulario.nomepai|as_crispy_field }}
                </div>
                <div class="col-sm-6">
                    {{formulario.residenciapai|as_crispy_field }}
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                    {{formulario.naturalidadepai|as_crispy_field }}
                </div>
                <div class="col-sm-6">
                    {{formulario.estadocivilpai|as_crispy_field }}
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                    {{formulario.profissaopai|as_crispy_field }}
                </div>
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                    {{formulario.nomemae|as_crispy_field }}
                </div>
                <div class="col-sm-6">
                    {{formulario.residenciamae|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    {{formulario.estadocivilmae|as_crispy_field }}
                </div>
                <div class="col-sm-6">
                    {{formulario.naturalidademae|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    {{formulario.profissaomae|as_crispy_field }}
                </div>
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                    {{formulario.netopaternohomem|as_crispy_field }}
                </div>
                <div class="col-sm-6">
                    {{formulario.netopaternomulher|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    {{formulario.netomaternohomem|as_crispy_field }}
                </div>
                <div class="col-sm-6">
                    {{formulario.netomaternomulher|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    {{formulario.padrinho|as_crispy_field }}
                </div>
                <div class="col-sm-6">
                    {{formulario.padrinholocalbaptismo|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    {{formulario.padrinhoestadocivil|as_crispy_field }}
                </div>
                <div class="col-sm-6">
                    {{formulario.padrinhoprofissao|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    {{formulario.padrinhoresidencia|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    {{formulario.madrinha|as_crispy_field }}
                </div>
                <div class="col-sm-6">
                    {{formulario.madrinhalocalbaptismo|as_crispy_field }}
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                    {{formulario.madrinhaestadocivil|as_crispy_field }}
                </div>
                <div class="col-sm-6">
                    {{formulario.madrinhaprofissao|as_crispy_field }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                   {{formulario.madrinharesidencia|as_crispy_field }}
                </div>
                <div class="col-sm-6">
                    {{formulario.imagem|as_crispy_field }}
                </div>
            </div>
                {% if registo %}
                    <a href="{% url 'baptismo_pdf' registo.pk %}" class="btn btn-primary btn-user btn-block">Baixar</a>
                 {% else %}
                <button type="submit" class="btn btn-primary btn-user btn-block">Salvar Registo</button>
                {% endif %}
            </div>
    </div>
</form>
{% endblock %}