{% extends 'account/base.html' %}

{% block content %}
	<h1>Lista de Produtos</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Preço</th>
                <th scope="col">Descrição</th>
                <th scope="col">Imagens</th>
            </tr>
        </thead>
        <tbody>
            {% for registo in baptismopdf %}
            <tr>
                <th scope="row">{{ registo.nome }}</th>
                <th scope="row">{{ registo.diocese|upper }}</th>
                <th scope="row">{{ registo.paroquia }}</th>
                <th scope="row">{{ registo.nome }}</th>

            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}