{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% csrf_token %}
        <form method="post" enctype="multipart/form-data">
            {% if formulariocasamento %}
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                {{formulariocasamento.provincia|as_crispy_field}}
              </div>
              <div class="col-sm-6">
                {{formulariocasamento.diocese|as_crispy_field}}
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                {{formulariocasamento.paroquia|as_crispy_field}}
              </div>
              <div class="col-sm-6">
                {{formulariocasamento.datainicio|as_crispy_field}}
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                {{formulariocasamento.datafim|as_crispy_field}}
              </div>
              <div class="col-sm-6">
                {{formulariocasamento.imagem|as_crispy_field}}
              </div>
            </div>
            {% endif %}
            {% if formulariobaptismo %}
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                {{formulariobaptismo.provincia|as_crispy_field}}
              </div>
              <div class="col-sm-6">
                {{formulariobaptismo.diocese|as_crispy_field}}
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                {{formulariobaptismo.paroquia|as_crispy_field}}
              </div>
              <div class="col-sm-6">
                {{formulariobaptismo.datainicio|as_crispy_field}}
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                {{formulariobaptismo.datafim|as_crispy_field}}
              </div>
              <div class="col-sm-6">
                {{formulariobaptismo.imagem|as_crispy_field}}
              </div>
            </div>
              {% endif %}
          <button type="submit" class="btn btn-primary btn-user btn-block">Salvar livro</button>
        </form>

{% endblock %}
