{% extends "account/base.html" %}



{% block content%}

{% for livro in busca %}

        {{livro}}

{% endfor %}
<div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Faça a sua busca no nosso Banco de Dados</h6>
                        </div>
                        <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Registo da Arquidiocese</h1>
                    <!-- DataTales Example -->

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Arquivos</h6>
                        </div>
                        <div class="card-body">

                            <div class="table-responsive">
                                        <form method="GET" class="d-none d-sm-inline-block form-inline mr-auto ml-md-6 my-2 my-md-0 mw-100 navbar-search">
                                            <div class="input-group">
                                                {{busca.form.as_p}}
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="submit">
                                                    <i class="fas fa-search fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>

                                    </form>
                                {% if registo %}
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Diocese</th>
                                            <th>Província</th>
                                            <th>Nº do livro</th>
                                            <th>Data de inicio</th>
                                            <th>Data do feixo</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                           <th>Nome</th>
                                            <th>Diocese</th>
                                            <th>Província</th>
                                            <th>Nº do livro</th>
                                            <th>Data de inicio</th>
                                            <th>Data do feixo</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>
                                                {% for livro in registo %}
                                                    {{livro}}
                                                <hr>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for livro in registo %}
                                                    {{livro.diocese}}
                                                <hr>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for livro in registo %}
                                                    {{livro.provincia}}
                                                <hr>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for livro in registo %}
                                                    {{livro.numero}}
                                                <hr>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for livro in registo %}
                                                    {{livro.datainicio|date:"d-m-y"}}
                                                <hr>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for livro in registo %}
                                                    {{livro.datafim|date:"d-m-y"}}
                                                <hr>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                {% endif %}
                            </div></div>
                        </div>
                    </div>


{% endblock %}