{% extends "account/base.html"%}
{% load crispy_forms_tags %}

{% block content %}
{% csrf_token %}
<form method="post" enctype="multipart/form-data">

  <div class="form-group row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      {{formulario.nome|as_crispy_field}}
    </div>
    <div class="col-sm-6">
      {{formulario.provincia|as_crispy_field}}
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-user btn-block">Registar Provinvicia Eclesiatica</button>
</form>


{% endblock %}