{% extends "account/base.html" %}
{% load static %}


{% block content %}


{% for registo in folha %}

<div class="container">
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="col-lg-12 text-center">
        </div>
                    {{ registo }}
                    <img src="serra.jpg" class="img-responsive img-centered" alt="">

                <ul class="list-inline item-details">
            </ul>
        </div>
    </div>
</div>
{% endfor %}
{% include 'pagination.html' %}
{%  endblock %}