{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% csrf_token %}
  <form method="post" enctype="multipart/form-data">

    <div class="form-group row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        {{formulario.nome|as_crispy_field}}
      </div>
      <div class="col-sm-6">
        {{formulario.zona|as_crispy_field}}
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        {{formulario.telefone|as_crispy_field}}
      </div>
      <div class="col-sm-6">
        {{formulario.endereco|as_crispy_field}}
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        {{formulario.email|as_crispy_field}}
      </div>

    </div>
  <button type="submit" class="btn btn-primary btn-user btn-block">Registar Vigararia</button>
  </form>

{% endblock %}